/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: All screen views
 */

 // TODO: Implement when libsass gets better placeholder support
// %banner-links {
//	a {
//		color: #FFF;
//		&:link {
//			text-decoration: none;
//		}
//
//		&:hover, &:focus {
//			text-decoration: underline;
//		}
//	}
//}
//

%no-breadcrumb-icon {
	content: none;
	padding: 0;
}

%banner-text-color {
	color: #FFF;
}

%fip-height {
	height: 1.4em;
}

#gcwu-sig {
	@extend %fip-height;
	margin: 10px 0;
}

#wmms {
	@extend %fip-height;
}

#wb-sttl {
	// TODO: Implement when libsass gets better placeholder support
	a {
		@extend %banner-text-color;
		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

#wb-bnr-ss {
	background: #618000;
}

#wb-ss {
	padding: 0.2em 0;
	// TODO: Implement when libsass gets better placeholder support
	a {
		@extend %banner-text-color;
		font-size: 120%;

		&:link {
			text-decoration: none;
		}

		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}

#wb-bc {
	.breadcrumb {
		margin-bottom: 0;
		background: transparent;
	}

	li {
		&:before, &:after {
			font-family: "Glyphicons Halflings";
			font-size: 0.7em;
			color: #333;
		}
		&:before {
			content: "\e092";
		}

		&:first-child {
			&:before {
				@extend %no-breadcrumb-icon;
			}
		}
	}
}

#wb-dtmd {
	float: right;
	margin: 1em 0 0 0;

	dt, dd {
		display: inline;
	}
}