/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */

%small-view-display-none {
	display: none;
}

%no-margin {
	margin: 0;
}

#gcwu-sig {
	@extend %small-view-display-none;
}

#wmms {
	position: absolute;
	left: 15px;
	top: -1.9em;
	width: 90px;
}

#wb-bar {
	min-height: 2.2em;
}

#wb-lng {
	@extend %small-view-display-none;
}

#wb-bnr {
	background-image: linear-gradient(#4474AD, #4474AD, #174F88);
}

#wb-bar {
	background: #000;
}

#wb-sttl {
	position: relative;
	a {
		font-size: 1.5em;
		text-shadow: 0 1px 1px #044062;
	}
}

#wb-glb-mn {
	.pnl-btn {
		position: relative;
		float: right;
		width: 50%;
		z-index: 2;
		margin-bottom: 0;
		li {
			padding: 3px 0 0;
			width: 100%;
		}
		a {
			color: #FFF;
			font-size: 1.5em;
			display: block;
			width: 100%;
		}
	}
}

#mb-pnl {
	header {
		background-color: #174F88;
	}

	nav {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	summary {
		&:hover, &:focus {
			background: transparent;
		}
	}

	.lng-ofr {
		text-align: right;
	}

	.srch-pnl {
		.form-group {
			float: left;
			margin-right: 5px;
			width: 75%;
		}
	}
}

#wb-bc {
	background: linear-gradient(#F0EFEF, #DFDFDD) repeat scroll 0 0 / 100% auto #DFDFDD;
}

[dir=rtl] {
	#mb-pnl {
		.lng-ofr {
			text-align: left;
			ul {
				margin-left: 0;
			}
			li {
				padding-left: 0;
				padding-right: 10px;
			}
		}
		.srch-pnl {
			.form-group {
				float: right;
				margin-right: auto;
				margin-left: 5px;
				width: 75%;
			}
		}
		ul {
			li {
				&.no-sect {
					padding-left: 0;
					padding-right: 1.27em
				}
			}
		}
	}

	#wmms {
		left: auto;
		right: 15px;
	}

	#wb-glb-mn {
		> {
			ul {
				text-align: left;
			}
		}
		.pnl-btn {
			float: left;
		}
	}
}