/*
 *
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
/*
  @title: Small view and under (screen only)
 */

$gcintranet-theme-mb-pnl-bg: #efefef;

%small-view-display-none {
	display: none;
}

%small-view-under-color-fff {
	color: #fff;
}

%no-margin {
	margin: 0;
}

#gcwu-sig {
	@extend %small-view-display-none;
}

#wmms {
	position: absolute;
	left: 15px;
	top: -1.9em;
	width: 90px;
}

#wb-bar {
	min-height: 2.2em;
}

#wb-lng {
	@extend %small-view-display-none;
}

#wb-bnr {
	background-image: linear-gradient(#4474AD, #4474AD, #174F88);
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4474AD', endColorstr='#174F88')");
}

#wb-bar {
	background: #000;
}

#wb-sttl {
	position: relative;
	a {
		font-size: 1.5em;
		text-shadow: 0 1px 1px #044062;
	}
}

#wb-glb-mn {
	.pnl-btn {
		position: relative;
		float: right;
		width: 50%;
		z-index: 2;
		margin-bottom: 0;
		li {
			padding: 3px 0 0;
			width: 100%;
		}
		a {
			color: #FFF;
			font-size: 1.5em;
			display: block;
			width: 100%;
		}
	}
}

#mb-pnl {
	background: $gcintranet-theme-mb-pnl-bg;
	header {
		background-color: #174F88;
	}

	nav {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	summary {
		&:hover, &:focus {
			background: transparent;
		}
	}

	.modal-body {
		background: $gcintranet-theme-mb-pnl-bg;
		padding: 0;
	}

	.srch-pnl {
		.form-group {
			float: left;
			margin-right: 5px;
			width: 75%;
		}
	}

	#wb-srch-sub-imprt {
		background: #146094;
		border-color: #146094;
		@extend %small-view-under-color-fff;
		&:hover, &:focus, &:active {
			background-color: #3276B1;
			border-color: #285E8E;
			@extend %small-view-under-color-fff;
		}
	}

	.lng-ofr {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	.sec-pnl {
		@extend %small-view-under-bg-color-fff;
	}

	.sm-pnl {
		background: #146094;
		a {
			@extend %small-view-under-color-fff;
		}
		summary {
			@extend %small-view-under-color-fff;
			&:hover, &:focus {
				@extend %small-view-under-color-fff;
			}
		}
	}
}

#wb-bc {
	background: linear-gradient(#F0EFEF, #DFDFDD) repeat scroll 0 0 / 100% auto #DFDFDD;
}

[dir=rtl] {
	#mb-pnl {
		.srch-pnl {
			.form-group {
				float: right;
				margin-right: auto;
				margin-left: 5px;
				width: 75%;
			}
		}
	}

	#wmms {
		left: auto;
		right: 15px;
	}

	#wb-glb-mn {
		> {
			ul {
				text-align: left;
			}
		}
		.pnl-btn {
			float: left;
		}
	}
}